#h-btn {
  background-color: wheat;
  border-radius: 3px;
  text-align: center;
  padding: 3px 10px;
  font-size: large;
  width: 100%;
  margin-bottom: 5px;
  transition: all 0.3s;
}

#c-btn {
  background-color: wheat;
  border-radius: 3px;
  text-align: center;
  padding: 3px 10px;
  font-size: large;
  width: 100%;
  margin-bottom: 5px;
  transition: all 0.3s;
}

.answer-token {
  border: 3px solid silver;
  border-radius: 5px;
  font-size: 12px;
  display: none;
  margin: auto;
  transition: all 0.3s;
  outline: none;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 35px;
  width: 350px;
  resize: none;
  padding: 2px;
}

.r-border {
  border: 3px solid #cc7670;
}
.g-border {
  border: 3px solid #70cc75;
}

#offer-token {
  display: none;
  max-width: 350px;
  margin: 20px auto;
  transition: all 0.3s;
  white-space: nowrap;
  overflow-x: auto;
  border: 3px solid gold;
  border-radius: 5px;
  height: 35px;
  padding: 2px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #70cc75;
  padding-bottom: 30px;
  padding-top: 20px;
  transition: all 0.3s;
}

.container {
  width: 380px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
